#bitl th {
	padding: 2px 10px 2px 6px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
#bits td {
	padding: 2px 10px 2px 6px;
	font-size: 12px;
	text-align: left;
}
.header {
	
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	background-position-y:26px;
}
.headerSortUp {
	
}
.headerSortDown {
	
}