.vert{
	margin-top: 0px!important;
}
.fromto{
	text-align: left;
}
#bloq{
	display: block;position: absolute;top: 0;left: 0;z-index: 100;width: 100%;height: 100%;background: rgba(238, 238, 238, 0);
}
.btn-menurep {
	color: #428bca;
	background-color: white;
	border-color: #ccc;
	border-radius: 0px;
	margin-top: 0px!important;
	text-align: left;
	font-size: 12px;
}
.imgmenurep{
	text-align: right!important;
	float: right;
}
.contnew{
	padding: 10px!important;
	background-color: white!important;
}
.brleft{
	border-left:0px!important;
	padding-left: 4px!important;
}
.servic, .tbdirecc{
	margin-bottom:0px;
}
.address_data {
text-transform: uppercase;
} 
.bd0 > tbody > tr > td{
	border 0;
}
.tb-tarifa td{
	border:none
}
.tb-tarifa {
	margin: 0 auto 0;
	width: 25%;
	float: left;
}
.tb-tarifa > tbody > tr > td:nth-child(2) {
	text-align: center;
	vertical-align: middle;
	width: 70px;
}
.tb-tarifa > tbody > tr:nth-child(1) > td{
	text-align:center;
}
.margin0{
	margin:0px!important;
}
.fpago{
	height: 28px;
}
.servic > tbody > tr >td {
	border: none;
	padding: 1px 1px;
	height: 27px;
}

.servic td.calendar {
	max-width: 500px;
}
td.servictext {
	min-width: 46px;
	vertical-align: middle!important;
	text-align:right;
	border-right: 0px!important;
}
.form-group {
	margin-bottom: 0px!important;
}
.calendar > .input-group{
	width: 100%;
}
td.dvuelo {
	width: 90px;
}
.tb-tarifa .pasajero{
	text-align:left !important;
	border-bottom: 1px solid #ddd;
}
table.tb-reservacion{
	width: 75%;
	float: left !important;
	margin-bottom: 0px;
}
div.bloqueada {
	color: rgba(128, 128, 128, 0.84);
}
.ui-corner-all{
	z-index: 1051;
}
.bootstrap-tagsinput {
background-color: #fff;
border: 1px solid #ccc;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
display: block !important;
padding: 0px!important;
color: #555;
vertical-align: middle;
border-radius: 4px;
width: 100%;
max-width: 100%;
line-height: 22px;
margin-top: 0px !important;
margin:0px!important;
width: 99.5%!important;
max-width: 100%!important;
border: none !important;
box-shadow: none!important;
}
div.row.round {
	position: absolute;
	z-index: 1;
	margin-left: -4px;
	margin-top: -6px;
}
.gosthwhite{
	background: ghostwhite;
}
.tb-tarifa tbody tr td {
	vertical-align: middle;
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 31px;
}
#ben_des div {
	margin-top: 5px;
}
select.selectben {
	margin-top: -3px;
}
#ben_des div {
	margin-top: 3px;
	padding: 0;
}
#saveServiceDiv {
	text-align: center;
}
.bootstrap-tagsinput .tag {
	padding: 5px 7px;
	font-size: 1.3em !important;
	line-height: 26px;
}
.hrs {
	float: left;
	margin-left: 5px;
}
.modal-body div.row {
	margin-top: 5px;
}
.modal-body div{
	padding-right: 5px;
	padding-left: 5px;

}
button.map-btn {
	padding: 6px 8px;
	height: 30px;
	background: #f5f5f5;
	border: 1px solid #dddddd;
	color: rgb(54, 54, 54);
}
.modal-dialog {
	width: 560px;
}
#serviceModal .modal-dialog{
	width: 275px;
	float:right;
}
span.close.close-service {
	padding: 5px;
}
.btns-golden{
	width: 18px;
	padding: 0px 0px 3px 0px;
	font-size: .8em;
	line-height: 0.5;
	border-radius: 3px;
	height: 20px;
}
.abr{
	display: block;
	min-height: 20px;
	padding-left: 16px;
	margin-top: 0px; 
	margin-bottom: 0px;
	vertical-align: middle;
}
#list-services{
	width:60%;
} 
.newuser #user-name,.newuser #user-lastname,.newuser #user-secondlastname{
	width: 94%;
}
#user-name,#user-lastname,#user-secondlastname{
	width: 98.5%;
}
td.d_title {
	width: 50%;
}
td.d_title.bord,
td.pasajero.bord {
	border-bottom: 1px solid #ddd;
}
table.tables_c{
	margin-bottom:-1px;
}
table.table.servic {
background-color: transparent;
margin-top: 3px;
}

table.table.servic input, table.table.servic select {
height: 26px!important;
}
td.calendar > div > span {
padding: 3px 10px;
border-radius: 4px!important;

}
table.table.dic {
background: transparent;
margin-bottom: 0px!important;
border: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 3px;
	vertical-align:middle;
}
.active.pasajero{
	padding: 3px 10px 0px 10px;
}
table.table.dic td{
	border:none !important;
}
.tb-reservacion #user-annotations {
height: 42px;
width: 571px;
margin-right:0px !important;
}
ul#tabsRes,
ul#tabsUsr {
border: none;
}
.tdicon > span{
	width: 1px !important;
}
table.table.servic.sol {
	margin-top: 0px;
}
div.ser-tex {
padding-left: 2px;
}
#pnl-res {
margin-top: 12px;
background-color: transparent;
border: none;
box-shadow: none;
}
#pnl-res .panel-body{
	padding: 0!important;
}
.rep {
width: 100%;
margin-top: 10%;
}
.btn-strong {
background-color: #125792;
border-color: #0B5797;
color: white !important;
}
#Principal div.col-md-2, #Principal div.col-md-10,
#assignments div.col-md-2,#assignments div.col-md-4,#assignments div.col-md-7,#assignments div.col-md-5, #assignments div.col-md-8, #assignments div.col-md-12,#assignments div.col-md-6,#assignments div.col-md-3, #assignments div.row {
padding-left: 0px;
padding-right: 0px;
}
.blockasig {
height: 100%;
}
.blockasig-b {
height: 100%;  
}
.assign{
	
}

/*.assigna{
	width:30%;
	height: 100%;
	overflow-x: auto;
	
}*/
.laelvont{
	margin-bottom: 0px;
}
.row {
	margin-right: 0px!important; 
	margin-left: 0px!important; 
	height: 100%!important;
}
.subasig{
	height: 50%;
	
} 
.subasiga{
	height: 270px;

}
.subasigb{ 
	height: 5%;
	margin-top: 16px;
	font-size: larger;
	background: rgba(192, 192, 192, 1);
}
.reasig,.reasigbol, .stic, .remo {
height: 19px !important;
padding: 0px 2px;
font-size: 11px;
line-height: 0.5;
border-radius: 3px;
}
.subasigc{
	height: 60%;
    border-bottom: 1px solid #eee;
}
#assignments table tr td{
	padding:0px;
	height: 18px!important;
}
.bolhortar {
float: left;
width: 40px;
height: 90%;
background-color: rgba(57, 126, 123, 1);
border-color: #357ebd;
border-radius: 3px;
color: white;
margin-left: 10px;
}
.bolmasal {
float: left;
width: 40px;
height: 90%;
background-color: rgba(0, 124, 20, 1);
border-color: #357ebd;
border-radius: 3px;
color: white;
margin-left: 120px;
}
.subasigd{
	height: 40%;
	border-bottom: 1px solid #eee;
	overflow: auto;
}
.subasigg{
	height: 18.5%;
	overflow: auto;
	border-bottom: 1px solid #eee;
}
.subasige{
	
overflow: auto;
height: 100%!important;
padding: 0px;
}
.subasigf{
	height: 100%;
}
.asiglat{
	border:1px solid #eee !important;
	height: 100%;
}
.rowcn{
	margin: 0px;
	height: 35%;
}
.rowgr{
	margin: 0px;
	height: 65%;
}
ul#assigmentstab {
height: 7%;
}
div#pest1,div#pest2,.blockasig-c{
	height: 100%;
}
/*asignaciones*/
.por-asignar{
width: 100%;
margin-top: 4px;
margin-bottom: 5px;
color: white;
background-color: rgba(255, 7, 0, 0.78);
border-radius: 3px;
height: 16px;
}
.por-asignaram{
width: 100%;
margin-top: 4px;
margin-bottom: 5px;
color: white;
background-color:#f0ad4e;
border-radius: 3px;
height: 16px;
}
/*CONFIGURACION 
 */
.mn-config{
	width:95%;

}
.twin table {
height: 135px;
padding: 0;
margin: 0;
}
.twin{
	
padding: 0;
}
.confnombre{
	width: 49%;
}
.confemail{
	width: 65%;
}
.confuser{
	width: 33%;
}
.divercenter{
	margin: 0 auto 0;
	margin-top: 10px;
	width: 360px;
	background-color: white;
	border: 1px solid #D1D1D1;
}
.divercenterre{
	margin: 0 auto 0;
}
.panelconfig{
	width: 100%;
	text-align: center;
	border: 1px solid #D1D1D1;
	background-color: rgb(238, 238, 238);
	padding-top: 5px!important;
	padding-bottom: 5px!important;
}
.iconoesl{
	margin-left: 8px;
}
.tdstatico{
	width: 1em!important;
}
.tablamarar{
	margin-top: 5px!important;
	width: 100%;
}
.tablamarara{
	margin-bottom: 5px!important;
	width: 50%;
}
.folio-res{
	float: right;
font-weight: bold;
font-size: 24px;
padding: 0;
height: 31px;
width: 42%;
/* vertical-align: middle; */
height: 100%;
font-size: 16px;
text-align: center;
color: #fff;
background-color: #023579;;
border-color: #357ebd;
border-radius: 4px;
}

.user-data, .service_field{
	text-transform:uppercase;
}
.botonesreportes{
	margin-top: 32px;
}
.table.table-hover th{
	text-align: center;
}

.boltot {
	float: left;
	margin-top: 2px;
	width: 40px;
	height: 90%;
	background-color: rgba(0, 124, 20, 1);
	border-color: #357ebd;
	border-radius: 3px;
	color: white;
	margin-left: 10px;
}
.bolazul {
float: right;
margin-top: 2px;
width: 40px;
height: 90%;
background-color: rgb(0, 194, 255);
border-color: #357ebd;
border-radius: 3px;
color: white;
}
.bolroj {
float: right;
margin-top: 2px;
width: 40px;
height: 90%;
background-color: rgba(180, 3, 3, 1);
border-color: rgba(167, 0, 0, 0.88);
border-radius: 3px;
color: white;
margin-right:10px;
}
.bolazul2 {
float: right;
margin-top: 2px;
width: 40px;
height: 90%;
background-color: rgb(0, 194, 255);
border-color: #357ebd;
border-radius: 3px;
color: white;

}
label{
	margin-bottom:0px;
}
.bolroj2 {
float: right;
width: 40px;
margin-top: 2px;
height: 90%;
background-color: rgba(180, 3, 3, 1);
border-color: rgba(167, 0, 0, 0.88);
border-radius: 3px;
color: white;
margin-right:10px;
}
.bolazul3 {
float: right;
width: 40px;

height: 90%;
background-color: rgb(0, 194, 255);
border-color: #357ebd;
border-radius: 3px;
color: white;
}
.bolroj3 {
float: right;
width: 40px;

height: 90%;
background-color: rgba(180, 3, 3, 1);
border-color: rgba(167, 0, 0, 0.88);
border-radius: 3px;
color: white;
margin-right:10px;
margin-left:10px;
}
.bolama{
	float: right;
	
width: 40px;
height: 90%;
background-color: rgb(255, 122, 0);
border-color: #357ebd;
border-radius: 3px;
color: white;
}
label.txt-asig {
float: initial;
}
label.txt-asig2 {
float: initial;
margin-left: 65px;
}
.actboletos{
	line-height: 0.428571!important;
	float: left;
	height: 90%;
	display:none;
}
/********   consulta reservacion    **********/
.consulta{
	background:white;
}
.consultatd{
	width: 148px;
	text-align: right;
}
.consultatdd{
	width: 40px;
	text-align: right;
}
.consultatrr{
	background-color: rgb(238, 238, 238);
}
.borcontop{
	border-top: 1px solid #dddddd;
}
.borconnone{
	border-top: 0px solid #dddddd;
}
/********   OCUPACION    **********/
.ocupacionalt{
	height: 278px;
	padding-left: 0px!important;
}
.ocupaciontitle{
	margin: 0 0 0 0px;
	font-size: initial;
}
.pasagocp{
	width: 115px!important;
}
.pasagocpc{
    width: 250px!important;
}
.pasagocpd{
    width: 100px!important;
}
.pasagocpp{
    width: 78px!important;
}
.pasagocph{
    width: 58px!important;
}
.pasagocpdi{
    width:570px!important;
}
.padocupr{
	   padding-right: 3px!important;
}
.padocupl{
	   padding-left: 3px!important;
}
.ocupacionlitle{
	margin: 0 0 0 0px;
	font-size: small;
	font-weight: bold;
	background-color: gray;
	border-top: gray;
	border-left: gray;
	border-right: gray;
	border-bottom: gray;
	color: #FFFFFF;
}
.ocupationab{
	border-bottom: solid rgb(196, 192, 192) 1px;
}
input#febit {
width: 250px!important;
margin: 0px 0px 15px 0px;
}
.form-controlo[disabled]{
cursor: not-allowed;
background-color:white!important;
color: rgb(163, 163, 163)!important;
}
.sobre{
	width: 770px;
	height: 167px;
	position: absolute;
	background: rgba(0,0,0,0.32);
	z-index: 999;
	margin-top: -36px;
	margin-left: -5px;
}

table.tablaocup tr td {
  font-size: 13px!important;
}

