body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  text-align: center;
  font-size: 1.3em;
}

a:focus, input:focus, input:active, input:hover {
    outline:0px;
}
span.email_complete.spn {
padding-left: 10px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: #ddd;
  border-radius: 10px;
  z-index: 1000;
  position: relative;
}

.form-signin .form-signin-heading {
    color: #666;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*------------------------------------*/
.logo {
    margin: 10px auto;
}
.disabled{
	background-color: #eee;
}
#content {
    position: relative;
    background-color:transparent;
    border-radius: 5px;
    padding: 0;
    width: 1024px;
}

.align-normal {
    text-align: left;
}
.user-panel{
	padding:0px!important;
}
.row-gray {
    background-color: #ddd;
}
#service-id {
float: right;
margin-top: -8px;
font-size: 14px;
font-weight: bold;
}
#service-id span{
	font-size:15px;
}
.bordered1 {
    border: 1px solid #bfbfbf;
    background-color: #fcfcfc;
}
    .bordered1 .row{
        margin: 0;
    }
        .bordered1 .col-md-4{
            width: 33.5%;
        }
        .bordered1 .col-md-8{
            width: 65.7%;
        }
        .bordered1 .col-md-12{
            width: 99%;
        }
        
        
.bordered2 {
    border: 1px solid #c6c6c6;
    background-color: #fff;
    margin: 3px;
    padding: 0;
}

#service {
    text-align: left;
}

.res-attrs div {
    width: 19%;
    margin: 0;
    position: relative;
}
    .form-control1{
        width: 100%;
        border-radius: 5px;
        height: 35px;
        font-size: 14;
        padding: 6px 12px;
        line-height: 35px;
        border: 1px solid rgb(204, 204, 204);
        background-color: white;
    }
.form-control1, .form-control {
	height: 26px;
	padding: 0px 5px;
	line-height: 21px;
	font-size: 1em;
}

.panel {
    width: 100%;
    display: inline-block;
    margin-bottom: -5px!important;

}
.panel.menu-options{
background-color: transparent;
box-shadow: none;
border: none;
padding-top: 12px;
}
div.menu-options div.panel-heading {
background-color: transparent;
box-shadow: none;
border: none;
text-align:center;
}
    .panel .panel-heading{
        text-align: left;
    }
    /*.menu-options*/
        .menu-options .btn-menu{
            text-align: center;
            width: 12%;
            display: inline-block;
            min-width: 105px;
        }

        .menu-options .btn-menu img, .menu-options .btn-menu span{
            clear: both !important;
            display: inline-block !important;
            text-align: center;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;
            width: 100%;
            font-size: 12px;
            color: #404040;
            font-weight: bold;

        }

        .menu-options .btn-menu img {
            width: 90%;
            margin: 0 auto;
        }

    .search-box {
		margin-top: 4px;
		margin-bottom:0px!important;
		background-color: transparent;
		border: none;
		box-shadow: none;
    }

.border-error {
    border-color: red !important;
}
.border-warning {
    border-color: #ffcc00 !important;
}


/*--------------Tabs menu principal----------------------*/
.tab-items {
    padding: 0;
    margin: 0;
    padding-bottom: 2px;
    border-radius: 4px 4px 0px 0px !important;
    height: 40px;
    float: left;
}
    .tab-items > li > a {
       border-radius: 4px 4px 0px 0px !important;
       height: 35px;
       border: 0;
       margin: 0 5px;
       line-height: 20px;
       margin-top: 3px;
       background-color: rgba(255, 255, 255, 0);
       color: #333;
       
    }
    .tab-items > li > a:hover, .tab-items > li.active > a {
       border-radius: 4px 4px 0px 0px !important;
       height: 35px;
       margin: 0 5px;
       line-height: 20px;
       margin-top: 3px;
       color: black;
       border: 0;
       background-color: rgba(255, 255, 255, 0);
    }    
    
.tab-pages {
    background-color: #fff;
    
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border: 0;
	background-color: rgba(255, 255, 255, 0);
	color:black;
}
/*---------------Tabs direcciones----------*/
/* custom inclusion of right, left and below tabs */

.address-tab {
    padding-top: 10px;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
    
/*--------------Spinner-------------------*/
.spinner {
  margin: 100px auto;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: fixed;
  z-index: 1;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.selectize-control.multi .selectize-input .active[data-value] {
    background-color: rgb(0, 133, 212);
    background-image: linear-gradient(to bottom, rgb(0, 143, 216), rgb(0, 117, 207));
    background-repeat: repeat-x;
}
.selectize-control.multi .selectize-input > div.active {
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgb(146, 200, 54);
    border: 1px solid rgb(0, 87, 141);
}
.selectize-control.multi .selectize-input [data-value] {
    text-shadow: 0px 1px 0px rgba(0, 51, 83, 0.3);
    background-color: rgb(27, 157, 236);
    background-image: linear-gradient(to bottom, rgb(29, 167, 238), rgb(23, 142, 233));
    background-repeat: repeat-x;
    border-radius: 3px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px rgba(255, 255, 255, 0.03) inset;
}
.selectize-control.multi .selectize-input > div {
    padding: 2px 6px;
    margin: 0px 3px 3px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: none repeat scroll 0% 0% rgb(29, 167, 238);
    border: 1px solid rgb(0, 115, 187);
}
.selectize-input > * {
    display: inline-block;
    vertical-align: baseline;
}


.tabla-res > .col-sm-offset-2 {
    margin-left: 0;
    padding-left: 0;
}

#tarifa {
margin-top: 33px;
}

div#tarifa div.bordered1 table {
margin: 0 auto 0;
width: 355px;
}

div#tarifa div.bordered1 table tbody tr > td {
width: 75%;
text-align: right;
}

#tarifa div.form-group select {
margin-top: 20px;
width: 114%;
background: rgba(109, 109, 109, 0.28);
margin-bottom: 15.5px;
}
#divc{
text-align: center;
}
.tar {
height: 40px;
padding-top: 1px;
margin: 7px auto 0;
width: 355px;
}
.user-save, .create-reser{
width: 30%;
height: 40px;
font-size:20px;
margin:10px 0px;
} 
#updateService,
#saveService {
margin-bottom: 11px;
width: 100%;
height: 40px;
font-size:20px;
}
#saveService:hover{
background-color: #5cb85c;
border-color: #4cae4c;
}
#ui-id-1 {
z-index: 9999;
}
.ui-menu .ui-menu-item a {
text-align: left;
}
div.adre {
background: rgba(207, 207, 207, 0.26);
width: 90%;
margin: 0 auto 1px;
padding: 0px 5px 0px 20px;
}
div.adre *{
	margin:0px;
}
div.adre input{
	float: right;
margin-top: -20px;
}
div#dial input.btn {
margin: 10px -64% 0px 64.5%;
}
div#dial div.adre:first-child{
	margin-top:30px !important;
}


.v-active {
    background-color: #74b21e !important;
    color: #fff !important;
}
/************* chuy 13 de marzo*****************/
.busq{

top: 34px !important;
left: 6.5px !important;
width: 577px !important;
}
/****************asignaciones******************/
.title{
	background: rgb(214, 214, 214);
}
.lightgray {
	max-width: 30px;
	margin-left: 8px;
	padding-right:0px !important;
	padding-left: 0px !important;
	background: rgba(214, 214, 214, 0.5);
	height: 18px;
}
.centrar{
	text-align:center;
	
}
.pad2{
	padding: 2px !important;
}
.cobranzas{
	color: white;
	font-size: 12;
}
.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12{
		float:left;
		font-size:12px !important;
		padding-left: 10px;
		padding-right: 10px;
}
.col-1{
	width: 8.3333%;

}
.caja{
	overflow-y: auto; 
	overflow-x: hidden !important;
	border: 1px solid rgb(214, 214, 214);
}
.col-2{
	width: 16.666%;
}
.col-3{
	width:24.99999%;
}
.col-4{
	width: 33.2222%;
}
.col-5{
	width: 41.5555%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.3333%;
}
.col-8{
	width: 66.66666%;
}
.col-9{
	width: 74.9999%;
}
.col-10{
	width: 83.222222%;
}
.col-11{
	width: 91.555555%;
}
.col-12{
	width: 100%;
}
/**************** chuy end ********************/

.masked {
    position: relative;
}

.mask {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.2);
    z-index: 1200;
    display: none;
}

.masked .row input {
    background-color: rgba(25, 25, 25, 0.1);
    border: none;
}

.pane-btn {
    width: 40em;
    height: 10em;
    background: none repeat scroll 0% 0% #FFF;
    margin: 18em auto 0px;
    border-radius: 10px;
    text-align: center;
}

.enable-btn {
    display: inline-block;
    margin-top: 2.5em !important;
}

#round-trip {
    text-align: center;
    position: relative;
    background: none repeat scroll 0% 0% #0085D4;
    height: 35px;
    font-size: 15px;
    line-height: 35px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
#round-trip .arr-left {
    position: absolute;
    top: 0px;
    margin: 5px;
    line-height: 25px;
    left: 0px;
}

#round-trip .arr-right {
    position: absolute;
    top: 0px;
    margin: 5px;
    line-height: 25px;
    right: 0;
}
#colo{
	width: 400px !important;
}

    .bordered1 .col-md-8,.bordered1 .col-md-4{
	padding: 0px;
}
#ajus_man{
	width: 50px;
}
  .backgray{
  	color: rgba(128, 128, 128, 0.84);
  }
.bootstrap-tagsinput > input{
	display:none;
}
 
.exsm{
	width:24px;
	padding: 5px 5px;
	font-size: 12px;
	line-height: 0.5;
	border-radius: 3px;
}

	.tables_c > tbody tr td {
padding: 3px 5px!important;
border: none;

}
.act{
	font-weight: bold;
}
#user_base {
margin: 10% auto;
}
div#user {
width: 100%;
}
.em_tel{

}
#name-tel input.form-control{
	width:32%;
}
.tables_c > tbody > tr > td:nth-child(1) {
width: 0px;
}
.ok-button{

}
#user-email,
#user-telephones{
	width: 98.5%!important;
}
#name-tel > tbody > tr > td > span {

}
.dis{
	color: #357ebd;
	border: #357ebd;

}
span.b {
font-size: 30px;
margin: 0 0 0px!important;
}
span.gr {
font-size: 12px;
margin: 0 0 0px!important;
text-align: center;
}
td.tdwidth{
	width: 125px!important;
}
.gray{
	color: gray;
}
div.navbar.navbar-default.navbar-fixed-top{
	height: 40px;
	min-height:0px!important;
}.navbar-nav > li > a,
.navbar-brand{
	padding-top: 11px!important;
}
.chn {
padding: 6px!important;
}
#pnl-res{
	margin-top: 12px;
}
.panel .panel-heading {
text-align: left;
height: 32px;
font-weight: bold;
width: 100%;
}
input#cliente {
margin-top: 8px;
}
#log{
height: 101px;
width: 33%;
background: #a9b7e7;
float: right;
margin-right: 16px;
margin-top: 5px;
}

 
div.panel-body.chn {
height: 61px;
}
#cab{
	float: left;
	height: 31px;
}
div.datos div.col-md-4{
	width: 40%!important;
}
div.datos div.col-md-3,div.datos div.col-md-2{
	width: 20%!important;
}
td.active.pasajero {
height: 27px;
}
button.addr {
float: right;
margin-right: 10px;
}

.tables_c > tbody > tr > td {
height: 27px;
padding: 4px!important;
}

.address-block .panel-body{
	padding:0!important;
}
.coment .panel-heading,
.address-block .panel-heading{
	height:32px;
}

.address-block .panel-heading{
padding-right: 10px;
}

div.spn-dire {
padding: 0px;
height: 24px;
border-bottom: 1px solid white;
background:ghostwhite;
}
div.spn-dire2 {
padding: 0px;
height: 24px;
border-bottom: 1px solid white;

}
.addir{
	float: right;
	padding: 0px 2px 2px 0px !important;
}
.tables_c > tbody > tr > td.pasajero{
	
padding: 3px 10px 0px 10px !important;

}
.div-address{
	width:60% !important;
}
.div-coment{
	width: 40% !important;
}
table.tb-service > tbody > tr > td:nth-child(1),
table.tb-tarifa > tbody > tr > td:nth-child(1){
	text-align: right;
} 
table.tb-service > tbody > tr > td.pasajero{
	text-align:left!important;
}
div#app-breadcrumbs{
	width: 100%!important;
	padding: 0px;
}
td.center {
text-align: center;
}

.ediTable {
    border: 1px #bfbfbf solid;
    padding: 0;
    margin: 3px;
}
.ediTable .title {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    height: 31px;
    line-height: 25px;
    background: #f5f5f5;
}

.ediTable .raw .row {
    padding-left: 4px;
}
.tagsboot{
	background: rgba(169, 183, 231, 0.4)!important;
font-weight: normal!important;
font-size: 14px!important;
}
div.modal-footer {
padding: 10px;
}
.warning-input{
	background-color:#f0ad4e;
	color: white;
	border: 1px solid #CF8010;
}
.tables_c > tbody > tr > td.text-conv{
	padding-top:12px!important;
}
table.tb-service button {
float: right;
margin-right: 5px;
}
ul#tabsRes li.active a,
ul#tabsUsr li.active a {
color: #555;
background-color:lightblue;
padding: 7px 15px;
}
.por-boletos{
	color:white;
}
ul#tabsRes li a,
ul#tabsUsr li a {
color: gray;
background: rgba(85, 85, 85, 0);
border: 0px;
}
.tables_c > tbody tr td.bord {
	
border-right:1px solid #dddddd;
}
.opaco{
	opacity: 0.2;
}
.principal{
	opacity:1;
}
.tb-reservacion td.active.pasajero{
	padding: 3px 10px 0px 10px !important;
	text-align: left;
}
button#updateService {

}
#user-annotations{
	background:rgb(255,204,102)!important;
}
.actpage{
color: #333;
background-color: #eee;
border-color: #E6E6E6;
}
.chan{
	font-weight: bold;
}
.colr {
height: 300px;
overflow-y: auto;
}
div#monitoreo table tbody tr {
color: #26FF26;
background-color: black !important;
}
.cortetar tr td{
	padding:0;
}
.servicetype{
	font-weight:bold;
}
input[name='user[busqueda]']{
	color:black;
	font-weight: bold;
	font-size:18px;
}
.inpama {
background: rgb(255, 255, 153);
font-weight: bold;
color:black;
}
#service_type{
	font-weight:bold;
	background:rgb(255,204,102);
}
#total_cost{
	font-size:20px;
	font-size:17.4px;
}
input.inpama::-webkit-input-placeholder { color: rgb(110, 110, 110); font-weight :bold; }
#service_type, #total_cost,.ejpagar{
font-weight: bold;
}
#ui-id-1{
	font-size:16px;
	font-weight:bold;
}
