				/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

#lateral>li>a:hover, #lateral>li>a:focus {
text-decoration: none;
background-color: #AAAAAA;
color: white;
height: 30px;
}
#lateral>li.active>a, #lateral>li.active>a:hover, #lateral>li.active>a:focus {
color: white;
cursor: default;
background-color: #aaa;
border: 1px solid #ddd;
border-bottom-color: transparent;
}
#lateral>li>a {
position: relative;
display: block;
padding: 5px 15px;
background-color: white;
color: black;
}



.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.cont_direccion{
	padding-left: 0px;
padding-right: 0px;
height: auto !important;
border: 1px solid #ccc;
	margin-top:13px;
}

.back_gray{

	background: rgb(218, 218, 218);
}

.content-lateral .active{
	background: #aaa;
}

.content-lateral{
width: 77%;
float: left;
}
.dir_last {
min-height: 90px;
}

#lateral{
	margin:0;
	border:0px;
	width: 23%;
}
ul#lateral li a.first{
	border-top:1px solid #ddd !important;
	border-right:0px !important; 
}
ul#lateral li a {
border:0px;
height: 40px !important;
margin: 0px !important;
}

.lat > tbody > tr > td{
	border-top:0px;
}

.lat>tbody>tr>td{
	padding: 5px 11px !important;
}
#lateral>li.active>a{
	border: 0px !important;
}
.back_am, .back_white{
	color:#9b9b9b;
}
.back_am{
	background-color:rgb(255, 255, 199);
}

.back_white{
	background-color:white;
}
.azul-blanco{
	color:white;
	background: rgb(0, 173, 255);
	border-radius:5px;
	border:1px solid #AAA;
	margin-top:-6px;
}
.azul-blanco p{
	text-align:center;
	padding-top:5px;
}
.input-res{
	height: 20px;
}
.sinmarg{
	margin:0px !important;
}
.lat{
	margin-bottom:0px !important;
}


/*tipo de servicio*/

.groupinline{
	margin-left: 0px !important;
	margin-right:0px !important;
}
.inpunl{
	width: 15%;
}
.inpunl input{
	width: 100% !important;
}
.inpsel{
	width:22%;
}
.inpsel select{
	width: 100% !important;
}
.border0{
	border:0px !important;
}
.border0>tbody>tr>td{
		padding: 2px 12px !important;
}
.buttonres{
	width: 100%;
	height: 60px;
	font-size:19px;
	background-color:#5AD813 !important;
	
}

.back_gr{
	background-color: rgba(133, 133, 133, 0.06);
	padding:10px;
}
